  <!-- Modal -->
  <div class="modal fade" id="staticBackdropeditemployee{{item.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">          
              <img src="https://www.salarybox.in/media/Asset8.png" width="120px" alt="">
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="{% url 'companyapp:update-employee' id=item.id %}" method="POST">
            {% csrf_token %} 
            <input class="form-control me-2 data-form p-2" type="text" value="{{item.first_name}}" name="first_name">
            <input class="form-control me-2 data-form p-2" type="text" value="{{item.last_name}}" name="last_name">
            <input class="form-control me-2 data-form p-2" type="text" value="{{item.address}}" name="address">
            <input class="form-control me-2 data-form p-2" type="number" placeholder="{{item.experiance}}" name="experiance">

            <div style="display: flex;justify-content: center;">
                <button class="btn btn-outline m-1" type="submit" data-bs-dismiss="modal">Close</button>
                <button class="btn btn-outline m-1" type="submit">Update</button>
             </div>
            </form>
        </div>
      </div>
    </div>
  </div>
  