  <!-- Modal -->
  <div class="modal fade" id="staticBackdropeditcompany{{item.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">          
              <img src="https://www.salarybox.in/media/Asset8.png" width="120px" alt="">
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="{% url 'companyapp:update-company' id=item.id %}" method="POST">
            {% csrf_token %} 
            <input class="form-control me-2 data-form p-2" type="text" value="{{item.company_name}}" name="company_name" required>
            <input class="form-control me-2 data-form p-2" type="text" value="{{item.founder_name}}" name="founder_name" required>
            <input class="form-control me-2 data-form p-2" type="text" value="{{item.address}}" name="address" required>
            <input class="form-control me-2 data-form p-2" type="text" value="{{item.total_fund_raise}}" name="total_fund_raise" required>

            <select id="cars" name="is_working" value="{{item.is_working}}" class="form-control me-2 data-form p-2">
                <option value="True">working</option>
                <option value="False">Close</option>
              </select>             
              <div style="display: flex;justify-content: center;">
                <button class="btn btn-outline m-1" type="submit" data-bs-dismiss="modal">Close</button>
                <button class="btn btn-outline m-1" type="submit">Update</button>
             </div>
            </form>
        </div>
      </div>
    </div>
  </div>
  