{% if employee_list %}
<div style="display: flex;flex-wrap: wrap;">
  {% for item in employee_list %}
  <div class="card m-3"  style="width: 18rem;"> 
    <div class="card-body">
      <h5 class="card-title">
        <img src="https://img.icons8.com/fluent/48/000000/identification-documents.png"/> {{item.first_name}} {{item.last_name}}</h5>
      <ul style="list-style-type: none;" class="detail-list p-0">
        <li>id : {{item.id}}</li>
        <li>experiance : {{item.experiance}} year</li>
        <li>address : {{item.address}}</li>
      </ul>
      <a class="btn btn-outline-light pt-1 pb-1" style="font-size: 12px;"  data-bs-toggle="modal" data-bs-target="#staticBackdropeditemployee{{item.id}}">Edit</a>
       {% include './edit-employee.html' %}
    </div>
  </div>
  {% endfor %}
</div>
{% else %}
<div class="no-data">
  <img class="center" src="https://img.icons8.com/dotty/200/000000/employee-card.png"/>
    <h5 class="text-center">no employee available</h5>
  <p class="text-center text-muted" style="font-size: 12px;">you can add new employee</h6>
</div>
{% endif %}