.card{
    width: 100%;
    background:linear-gradient(45deg,#2596be,#1eeaba);
    border-radius: 10px;
    cursor: pointer;
}
.card .card-title{
    color: #fff;
}

.add-btn{
    margin: 20px;
    padding: 20px;
    background:linear-gradient(45deg,#2596be,#1eeaba);
    border-radius: 10px;
    cursor: pointer;
}

.add-btn:hover{
    color: #fff;
}
.add-btn a{
    color: #000!important;
}
.add-btn a:hover{
    color: #fff!important;
}

.data-form{
    margin:20px 0px;
    border-radius: 0px;
    font-size: 12px;
}
.data-form:after{
    border: none;
}

.center {
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: auto
  }

