.detail-list li {
    display: inline;
    font-size: 13px;
    margin: 5px;
    color:#000;
    /* font-weight: 200; */
    padding: 5px;
    border-bottom: 1px solid #fff;
    border-bottom-right-radius: 10px;
}

.detail-list li:hover{
    color: #fff;
}

.detail-list li span{
    color: #fff;
}

nav{
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

form-border,
.btn-outline{
    border-image:linear-gradient(45deg,#2596be,#1eeaba) 10;
    color: #2596be;
    font-size: 12px;
}

.btn-outline:hover{
    background:linear-gradient(45deg,#2596be,#1eeaba)!important;
    color: #fff;

}


.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background: #fff;
    background-clip: padding-box;
    border-width: 5px;
    border-image:linear-gradient(45deg,#2596be,#1eeaba) 10;
    border-radius: 0rem;
    outline: 0;
}

.loader,
.loader:after {
    border-radius: 50%;
    width: 10em;
    height: 10em;
}
.loader {            
    margin: 60px auto;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 1.1em solid rgba(255, 255, 255, 0.2);
    border-right: 1.1em solid rgba(255, 255, 255, 0.2);
    border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
    border-left: 1.1em solid #2596be;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
#loadingDiv {
    position:absolute;;
    top:30%;
    left:-250px;
    width:100%;
    height:100%;
    background: transparent;
}